name: Vercel Deployment

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  request:
    name: 'Request build from Vercel'
    runs-on: ubuntu-latest

    steps:
      - name: Run a one-line script
        run: 'curl https://api.vercel.com/v1/integrations/deploy/prj_2Wz5V4lPIpBQiexQLGLu3mrJTeFc/eodd2Dah0S'
